body {
  background: #BBB;
  color: #333;
  font-family: Lato, Sans-serif;
  text-align: center;
  margin: 0px;
}

a {
  color: #ccc;
}

#page {
  position: relative;
  margin: 0 auto;
  padding: 0 5px;
  max-width: 800px;
  /*box-shadow: inset 0px 0px 10px black;*/
  background: #2e343a;
  color: white;
}

#embedSVG {
  height: 100%;
  width: 100%;
  max-height: 100vh;
}

#timerParams {
/*  float: right;*/
}

input {
  font:inherit;
  font-size: 1.3em;
  background-color: #2e343a;
  color: #ccc;
  border-color:#555;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

input:focus {
  border-color:#aaa;
}

input.duration {
  width: 2em;
  text-align: center;
}

/* Header  and footer */
#header {
  padding-top: 0.2em;
}

#header h1 {
  font-size: 1.5em;
  font-weight: 300; /*light font*/
}

#footer {
  font-size:smaller; 
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  border-top: solid #555 1px;
}

