body {
  background: #BBB;
  color: #333;
  font-family: Sans-serif;
  text-align: center;
}

a {
  color: #555;
}

input.duration {
  width: 2em;
  text-align: center;
}

footer {
  display: block;
  font-size:smaller; 
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5em;
  border-top: solid #333 1px;
  width: 80%;
}

